.logo-navbar {
  width: 100px;
}

.navbar-container {
  display: flex;
  background-color: white;
  align-items: center;
  width: 100%;
}

.searchbar {
  padding-left: 25%;
}

.home {
  padding-left: 25%;
}

.profile {
  padding-left: 1%;
}

.logout {
  padding-left: 1%;
}

.camera {
  padding-left: 1%;
}

@media (min-width: 600px) and (max-width: 850px) {
.searchbar {
  padding-left: 15%;
}

.home {
  padding-left: 15%;
}

.profile {
  padding-left: 1%;
}

.logout {
  padding-left: 1%;
}

.camera {
  padding-left: 1%;
}
}

@media (min-width: 250px) and (max-width: 600px) {
.logo-navbar {
  width: 50px;
}

.navbar-container {
  display: flex;
  background-color: white;
  align-items: center;
  width: 100%;
}
.searchbar {
  padding-left: 5%;
  /* background-color:red; */
}

.home {
  padding-left: 15%;
}

.profile {
  padding-left: 1%;
}

.logout {
  padding-left: 1%;
}

.camera {
  padding-left: 1%;
}
}
